.absolute {
  background: #156236;
  position: absolute;
  height: 500px;
  width: 500px;
}

.relative {
  background: #af8542;
  height: 400px;
  width: 500px;
  top: 20%;
  position: relative;
  left: 20%;
}

/* .absolute {
  background: #c590f5;
  height: 400px;
  width: 400px;
  top: 50px;
  position: absolute;
 }

 .relativeson {
  background: greenyellow;
  height: 300px;
  width: 300px;
  left: 10%;
  position: relative;
 } */